<p>
<h3><%= link_to "Shadowsocks User Manager", users_path %></h3>
</p>


<p>
<h4><%= link_to "Administrator", admins_path %></h4>
</p>

<p>
  <%= link_to "Logout", logout_path %>
</p>

<p>
</p>

<p>
  <a href="http://client.vpsgroups.biz/submitticket.php">Product Support Contact</a></h4>
</p>

