<p>
  <%= link_to "Click Here \"To Submit Changes\"", :controller => :cfg, :action => :generate %>
</p>

<p>
  <%= link_to 'Return Home', :controller => :home, :action => :index %> |
  <%= link_to 'Back', users_path %>
</p>

